.header
  .header__box
    .header__box__up
      .header__box__up--icon
        = link_to image_tag('logo.png', class: "btn"),root_path
      .header__box__up--search
        = form_with(url: "#", local: true, method: :get, class: "search-form") do |form|
          = form.text_field :keyword, placeholder: "キーワードから探す", class: "search-input" 
          = button_tag type: 'submit', class: 'search-btn' do
            %i.fas.fa-search.click 
    .header__box__under
      .header__box__under__left
        %ul.left--box
          %li.list__category
            = link_to "#", class:"first-btn" do
              カテゴリー
          %li.list__category
            = link_to "#", class:"first-btn" do
              ブランド
      .header__box__under__right
        %ul.right--box
          -if user_signed_in?
            %li.list__login
              = link_to "ログアウト",destroy_user_session_path, method: :delete, class:"btn"
          -else
            %li.list__login
              = link_to "ログイン",new_user_session_path, class:"btn"
            %li.list__category
              = link_to "新規会員登録",signup_index_path, class:"btn"
.edit-email
  .edit-email-group
    .edit-email-title
      メール/パスワード
    .edit-email-form
      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
        = render "devise/shared/error_messages", resource: resource
        .email
          = f.label :email, "メールアドレス"
          .email-group
            = f.text_field :email,placeholder: "PC・携帯どちらでも可",class: "email-field"
          .email-content
            メールアドレスを変更すると確認メールが送信されます。
            メール内のURLをクリックすると変更完了です。
        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          %div
            Currently waiting confirmation for: #{resource.unconfirmed_email}
        .current-pass
          = f.label :current_password, "現在のパスワード"
          %br/
          .current-pass-group
            = f.password_field :current_password, autocomplete: "current_password",class: "current-pass-field"
        .new-pass
          = f.label :password, "新しいのパスワード"
          %br/
          .new-pass-group
            = f.password_field :password, autocomplete: "password",placeholder: "7文字以上の半角英数字",class: "new-pass-field"
        .new-pass-two
          = f.label :password_confirmation, "新しいのパスワード確認"
          %br/
          .pass-tow-group
            = f.password_field :password_confirmation, autocomplete: "password_confirmation",placeholder: "新しいパスワード再入力",class: "new-pass-two-field"
        .send
          = f.submit "変更する",class: "send-btn"