.header
  .header__box
    .header__box__up
      .header__box__up--icon
        = link_to image_tag('logo.png', class: "btn"),root_path
      .header__box__up--search
        = form_with(url:search_products_path, local: true, method: :get, class: "search-form") do |form|
          = form.text_field :keyword, placeholder: "キーワードから探す", class: "search-input" 
          = button_tag type: 'submit', class: 'search-btn' do
            %i.fas.fa-search.click 
    .header__box__under
      .header__box__under__left
        %ul.left--box
          %li.list__category
            = link_to "#", class:"first-btn" do
              %li.categories カテゴリー
              -# %ul
              -#   - @parents.each do |parent|
              -#     %ul=parent.main_name
                  -# %ul=parent.parent.main_name
                  -#   - parent.children.each do |child|
                  -#     %li=child.main_name    
                  -# - child.children.each do |grandchild|
                  -#   =grandchild.main_name  
              -# .category_list
              -#   .parents_list
              -#     - @parents.each do |parent|
              -#       = link_to "#{parent.main_name}", root_path, class: "parent_category",id: "#{parent.id}"
              -#   .children_list
              -#   .grand_children_list
              -# %ul.parent
          %li.list__category
            = link_to "#", class:"first-btn" do
              ブランド
      .header__box__under__right
        %ul.right--box
          -if user_signed_in?
            %li.list__login
              = link_to "マイページ",user_path(current_user.id), class:"btn"
          -else
            %li.list__login
              = link_to "ログイン",new_user_session_path, class:"btn"
            %li.list__category
              = link_to "新規会員登録",signup_index_path, class:"btn"