-# TOPページ
= render "header"
.header-under
  .box-under
    .categoty-link
      = link_to "カテゴリ" ,"#", class:"link-btn",id: "hover-a"
      = render "category_list"
    .bland-link
      = link_to "ブランド" ,"#", class:"link-btn",id: "hover-b"
    .gretel-link
      - breadcrumb :root
      = breadcrumbs separator:  "&rsaquo;",class: "crumb-btn"
  = render "under"
.main
  .main__first
    .main__first__content
      .main__first__content--up
        %h2 人生を変えるフリマアプリ
      .main__first__content--center
        %p FURIMAはだれでもかんたんに出品・購入できる
        %p フリマアプリです
      .main__first__content--under
        .content__btn
          .app
            = link_to "#", class:"btn" do
              = image_tag "apple.png",class:"icon"
          .google
            = link_to "#", class:"btn" do
              = image_tag "google.png", class:"icon"
  .main__second
    .main__second__top
      %h2 FURIMAが選ばれる3つの理由
    %ul.lists
      %li.list-box
        = image_tag 'pict-reason-01.jpg', class:"list-box--image"
        .number
          1
        .list-box--text
          %span.list-box--text--color 3分 
          ですぐに出品
        .list-box--explanation
          %p スマホで入力するだけで簡単に週品
          %p できる！
      %li.list-box
        = image_tag 'pict-reason-02.jpg', class:"list-box--image"
        .number
          2
        .list-box--text
          %span.list-box--text--color シンプル
          で使いやすい
        .list-box--explanation
          %p めんどくさい入力は必要なく、検索も
          %p 購入もスムーズ！
      %li.list-box
        = image_tag 'pict-reason-03.jpg', class:"list-box--image"
        .number
          3
        .list-box--text
          手数料
          %span.list-box--text--color 業界最安
        .list-box--explanation-last
          %p 最大3％でお得に出品＆購入！
  .main__third
    .main__third__content
      .main__third__content--up
        会員数日本一位
      .main__third__content--center
        %p FURIMAは、フリマアプリで最も人気。
        %p 出品・購入回数も業界最多です！
        %p ほしかったあの商品に出会えるかもしれません。
      .main__third__content--under
        .content__btn
          .app
            = link_to "#", class:"btn" do
              = image_tag "apple.png",class:"icon"
          .google
            = link_to "#", class:"btn" do
              = image_tag "google.png", class:"icon"
  .main__fourth
    .main__fourth__top
      %h2 FURIMAの特徴
    %ul.lists
      %li.list-box
        = image_tag 'icon-01.png', class:"list-box--image"
        .list-box--text
          簡単に売り買いできる
        .list-box--explanation
          %p スマホひとつで、いつでもどこでも簡単に
          %p 出品・購入が可能！
      %li.list-box
        = image_tag 'icon-03.png', class:"list-box--image"
        .list-box--text
          売上金は即日振込みに対応
        .list-box--explanation
          %p 午前9時までに振込を依頼いただけれ
          %p ば、翌日に指定の口座に入金いたします!
      %li.list-box
        = image_tag 'icon-04.png', class:"list-box--image"
        .list-box--text
          様々な支払いに対応
        .list-box--explanation
          %p お支払いは、クレジットカードだけでな
          %p く、ポイントや売上金など多彩な方法が
          %p あります。
  -#  新規投稿商品掲載画面
  .main__fifth
    .main__fifth__top
      .main__fifth__top--up
        ピックアップカテゴリー
      .main__fifth__top--under
        = link_to "#", class: "main__fifth__top--under--btn" do
          新規投稿商品
      .main__fifth__top--list
        = link_to "一覧", products_list_products_path, class: "main__fifth__top--list--btn"
    %ul.main__fifth__box
      -# 掲載数を変更できます
      - @product.last(3).each do |product|
        %li.main__fifth__box--new
          =link_to product_path(product.id), class: "show-btn" do
            = image_tag product.images[0].image.url, size: '200x200'
            .comment
              .comment--name
                =product.product_name.truncate(21)
              %ul.comment--price
                %li= product.price
                %li.iine-icon
                  %i.fas.fa-heart
                  = product.likes_count
              %p.tax (税込み)
          -if product.buyer_id.present? 
            .item-sold
              .item-sold-inner
                SOLD
  .main__sixth
    .main__sixth__top
      .main__sixth__top--up
        ピックアップブランド
      .main__sixth__top--under
        = link_to "#", class: "main__sixth__top--under--btn" do
          アーカイバ
    %ul.main__sixth__box
      - @product.last(3).each do |product|
        %li.main__fifth__box--new
          =link_to product_path(product.id), class: "show-btn" do
            = image_tag product.images[0].image.url, size: '200x200'
            .comment
              .comment--name
                =product.product_name.truncate(21)
              %ul.comment--price
                %li= product.price
                %li.iine-icon
                  %i.fas.fa-heart
                  = product.likes_count
              %p.tax (税込み)
          -if product.buyer_id.present? 
            .item-sold
              .item-sold-inner
                SOLD
= render "footer"