.header
  .header__box
    .header__box__up
      .header__box__up--icon
        = image_tag '/assets/images/logo-white.png'
      .header__box__up--search
        = form_with(url: "#", local: true, method: :get, class: "search-form") do |form|
          = form.text_field :keyword, placeholder: "キーワードから探す", class: "search-input"
          = form.submit type: "image", src: "icon-search 1.png", class: "search-btn"
    
    .header__box__under
      .header__box__under__left
        %ul.left--box
          %li.list__category
            = link_to "#", class:"first-btn" do
              カテゴリー
          %li.list__category
            = link_to "#", class:"first-btn" do
              ブランド
      .header__box__under__right
        %ul.right--box
          %li.list__login
            = link_to "#", class:"btn" do
              ログイン
          %li.list__category
            = link_to "#", class:"btn" do
              新規会員登録

.main
  .main__top
    .main__top__content
      .main__top__content--up
        %h2 人生を変えるフリマアプリ
      .main__top__content--center
        %p FURIMAはだれでもかんたんに出品・購入できる
        %p フリマアプリです
      .main__top__content--under


    


