= render "header"
.header-under
  .box-under
    .categoty-link
      = link_to "カテゴリ" ,"#", class:"link-btn",id: "hover-a"
    .bland-link
      = link_to "ブランド" ,"#", class:"link-btn",id: "hover-b"
    .gretel-link
      - breadcrumb :list
      = breadcrumbs separator:  "&rsaquo;",class: "crumb-btn"
  = render "under"
.main-category
  %ul.main-category__box
    - @product.reverse_each do |product|
      %li.main-category__box--new
        =link_to product_path(product.id), class: "show-btn" do
          = image_tag product.images[0].image.url, size: '200x200'
          .comment
            .comment--name
              =product.product_name.truncate(21)
            %ul.comment--price
              %li
                ¥
                = product.price
              %li.iine-icon
                %i.fas.fa-heart
                = product.likes_count
            %p.tax (税込み)
        -if product.buyer_id.present? 
          .item-sold
            .item-sold-inner
              SOLD

= render "footer"
