.purchase-verification
  .purchase-verification__header
    .purchase-verification__header__logo
      = link_to image_tag('logo.png', class: "btn"),root_path
  .purchase-verification__main
    .purchase-verification__main__up
      購入内容の確認
    .purchase-verification__main__box
      .product 
        .photo
        .name
          商品名
      %ul.detail
        %li.money ¥◯◯◯◯
        %li.postage 送料込み
    
    .purchase-verification__main__pay
      .purchase-verification__main__pay__point
        ポイントはありません
      .purchase-verification__main__pay__money
        .purchase-verification__main__pay__money--left
          支払金額
        .purchase-verification__main__pay__money--right
          ¥◯◯◯◯
      .purchase-verification__main__pay__decision
        = form_tag(action: :pay, method: :post, class: "form-buy") do
          %script.payjp-button{:src => "https://checkout.pay.jp",:type => "text/javascript" ,"data-text" => "購入する" ,"data-key" => ENV['PAYJP_KEY'], class: "buy-button"}
        -# = link_to "#", class:"decision-btn" do
        -#   購入する
    .purchase-verification__main__delivery
      .address
        %ul.address--delivery
          配送先
        %li 123-4567
        %li 東京都渋谷区神南1-18-2
        %li 購入 太郎
        .address--change
          = link_to address_user_path(current_user.id), class:"address--change--btn" do
            変更する
    .purchase-verification__main__payment
      .method
        %ul.method--number
          支払方法
        %li **** **** ****4242
        %li 12 / 20
        .method--change
          = link_to "#", class:"method--change--btn" do
            変更する

          
       

  .purchase-verification__footer
    %ul
      %li
        = link_to 'プライバシーポリシー', "#", class: "footer-text"
      %li
        = link_to 'FURIMA利用規約', "#", class: "footer-text"
      %li
        = link_to '特定商取引に関する表記', "#", class: "footer-text"
    .products-exhibit__footer__logo
      = link_to image_tag('logo.png', class: "products-exhibit__footer__logo__icon"),root_path
      %p © FURIMA